.personal-user {
  min-height: 100dvh;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.71) 0%,
      rgba(0, 0, 0, 0.477) 100%
    ),
    url(@/assets/images/intro/banner.JPG) no-repeat center top / cover;
  display: flex;
  align-items: center;

  @media (width <= 576px) {
    padding: 100px 0;
  }

  &__container {
    width: min(1400px, 100%);
    padding: 0 12px;
    margin: 0 auto;
  }
  
  &__info {
    width: min(320px, 100%);
    margin: 30px auto;
    background: rgba(41, 41, 41, 0.5);
    backdrop-filter: blur(10px);
    padding: 30px;
    color: #fff;
    display: grid;
    gap: 12px;
    border-radius: 10px;
    
    &-txt {
      font-size: 18px;
    }
  }

  &__content {
    &-title {
      text-align: center;
      color: #ffca39;
      font-size: clamp(24px, 5vw, 36px);
      margin-bottom: 45px;
      text-shadow: 2px 2px #000;
    }
    &-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: 30px;
    }
  }

  &__card {
    background: rgba(41, 41, 41, 0.5);
    backdrop-filter: blur(10px);
    padding: 30px 0;
    display: grid;
    place-items: center;
    gap: 30px;
    border-radius: 10px;

    &-txt {
      color: #fff;
      font-size: clamp(20px, 5vw, 25px);
    }
  }
}
