* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    scroll-behavior: smooth;
    scroll-padding: 90px;

    &::after, &::before {
        box-sizing: border-box;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img, iframe {
    max-width: 100%;
    vertical-align: bottom;
}

input, button, textarea {
    border: none;
    outline: none;
    background: transparent;
}

.container {
    width: min(1140px, 100%);
    margin: 0 auto;
    padding: 0 15px;
}

.error {
    height: 100dvh;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.71) 0%,
        rgba(0, 0, 0, 0.477) 100%
      ),
      url(@/assets/images/intro/banner.JPG) no-repeat center top / cover;
    display: flex;
    align-items: center;
    padding: 30px 0;

    .container {
        display: grid;
        place-items: center;
        gap: 16px;
        color: #fff;
    }

    &__title {
        font-size: 10vw;
    }

    &__txt {
        font-size: clamp(18px, 5vw, 38px);
    }

    &__link {
        color: #fff;
        font-size: clamp(16px, 5vw, 28px);
    }
}