* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    scroll-behavior: smooth;
    scroll-padding: 90px;

    &::after, &::before {
        box-sizing: border-box;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img, iframe {
    max-width: 100%;
    vertical-align: bottom;
}

input, button, textarea {
    border: none;
    outline: none;
    background: transparent;
}

.container {
    width: min(1140px, 100%);
    margin: 0 auto;
    padding: 0 15px;
}